<div class="progress p-0 m-0" style="height: 4px;" *ngIf="showProgress">
  <div class="indeterminate"></div>
</div>
<br>
<mat-divider></mat-divider>
<mat-list role="list">
  <mat-list-item role="listitem" fxLayout="row">
    <h6 class="material-font">{{'dashboard' | translate}} <i class="im im-angle-right im-10"></i> {{'newAccount' |
      translate}}</h6>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<div class="mt-3 ml-2 mr-2">
  <div class="alert alert-success  ml-2 mr-2" *ngIf="success" role="alert">
    This is a success alert—check it out!
  </div>
  <div class="container card-1">
    <form #addAccountForm="ngForm" [formGroup]="newAccountForm" (ngSubmit)="addAccount()" novalidate="true">
      <div class="row pb-3">
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-user-circle fa-lg   mr-1 t-deep-purple"> </i></span>
            <input type="text" required name="firstname" formControlName="firstname" class="font-weight-bold" matInput
              placeholder="{{'firstname' | translate}}" autocomplete="off">
            <mat-hint align="end">{{newAccount.firstname.length}} / 30</mat-hint>
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.firstname.touched && newAccountForm.controls.firstname.errors">
            <small class="t-red d-block" *ngIf="newAccountForm.controls.firstname.errors.required">
              {{'firstnameRequired' | translate}}
            </small>
            <small class="t-red d-block" *ngIf="newAccountForm.controls.firstname.errors.minlength">
              {{'shortFirstname' | translate}}
            </small>
            <small class="t-red d-block" *ngIf="newAccountForm.controls.firstname.errors.maxlength">
              {{'longFirstname' | translate}}
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-user fa-lg   mr-1 t-deep-purple"> </i></span>
            <input type="text" required name="username" formControlName="username" class="font-weight-bold" matInput
              placeholder="{{'_name' | translate}}" autocomplete="off">
            <mat-hint align="end">{{newAccount.username.length}} / 30</mat-hint>
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.username.touched && newAccountForm.controls.username.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.username.errors.required">
              {{'nameRequired' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.username.errors.minlength">
              {{'shortName' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.username.errors.maxlength">
              {{'longName' | translate}}
            </small>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-envelope fa-lg   mr-1 t-deep-purple"> </i></span>
            <input type="text" required name="email" formControlName="email" class="font-weight-bold" matInput
              placeholder="E-mail" autocomplete="off">
            <mat-hint align="end">{{newAccount.email.length}} / 50</mat-hint>
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.email.touched && newAccountForm.controls.email.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.email.errors.required">
              {{'emailRequired' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.email.errors.minlength">
              {{'shortEmail' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.email.errors.maxlength">
              {{'longEmail' | translate}}
            </small>
            <small class="t-red d-block" *ngIf="newAccountForm.controls.email.errors.pattern">
              {{'invalidEmail' | translate}}
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-phone fa-lg   mr-1 t-deep-purple"> </i></span>
            <input type="text" required name="phone" formControlName="phone" class="font-weight-bold" matInput
              placeholder="{{'mobilePhone' | translate}}" autocomplete="off">
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.phone.touched && newAccountForm.controls.phone.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.phone.errors.required">
              {{'phoneRequired' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.phone.errors.minlength">
              {{'shortPhone' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.phone.errors.maxlength">
              {{'longPhone' | translate}}
            </small>
            <small class="t-red d-block" *ngIf="newAccountForm.controls.phone.errors.pattern">
              {{'invalidPhone' | translate}}
            </small>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-lock fa-lg  mr-1 t-deep-purple"> </i></span>
            <input type="password" required name="password" formControlName="password" class="font-weight-bold"
              matInput placeholder="{{'password' | translate}}" autocomplete="off">
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.password.touched && newAccountForm.controls.password.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.password.errors.required">
              {{'passwordRequired' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.password.errors.minlength">
              {{'shortPassword' | translate}}
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-lock fa-lg   mr-1 t-deep-purple"> </i></span>
            <input type="password" name="passwordConf" formControlName="passwordConf" required class="font-weight-bold"
              matInput placeholder="{{'passwordConf' | translate}}" autocomplete="off">
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.passwordConf.touched && newAccountForm.controls.passwordConf.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.passwordConf.errors.required">
              {{'passwordConf' | translate}}
            </small>
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.passwordConf.errors.mismatch">
              {{'passwordMismatch' | translate}}
            </small>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-user fa-lg mr-1 t-deep-purple"> </i></span>
            <mat-select placeholder="{{'role' | translate}}" name="role" formControlName="role" required>
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.role.touched && newAccountForm.controls.role.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.role.errors.required">
              {{'roleRequired' | translate}}
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 pr-4 pl-4">
            <span matPrefix><i class="fa fa-calendar fa-lg mr-1 t-deep-purple"> </i></span>
            <input matInput required ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker" name="expireDate"
              formControlName="expireDate" placeholder="{{'expireDate' | translate}} (dd-mm-yyyy)" autocomplete="off">
            <mat-icon matSuffix (click)="d.toggle()"><i class="material-icons">calendar_today</i></mat-icon>
          </mat-form-field>
          <div class="pr-4 pl-4" *ngIf="newAccountForm.controls.expireDate.touched && newAccountForm.controls.expireDate.errors">
            <small class="t-red  d-block" *ngIf="newAccountForm.controls.expireDate.errors.required">
              {{'expireDateRequired' | translate}}
            </small>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row pt-3" fxLayout="row">
        <div fxFlex="50" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pb-3" fxLayoutAlign="start center">
          <button mat-button class="w-50 bg-red font-weight-bold im-16" type="button" (click)="resetNewAccount()"><i
              class="im im-reset im-16 t-white pr-2"></i>
            <span fxHide="true" fxShow.gt-sm="true">{{'reset' | translate}}</span></button>
        </div>
        <div fxFlex="50" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" fxLayoutAlign="end start">
          <button mat-button class="w-50 bg-green t-white font-weight-bold" type="submit"><i class="im im-16 t-white im-plus-circle pr-2"></i><span
              class="t-white" fxHide="true" fxShow.gt-sm="true">{{'create' | translate}}</span></button>
        </div>
      </div>
    </form>
  </div>
</div>
