ng-sidebar-container{
  height: 100vh;
}
:host /deep/ .ng-sidebar { background-color: #424242 !important;}
.mat-expansion-panel:hover,.list-item:hover{
  background-color: #263238;
}
a{
  outline: none;
}
.im-16{
  font-size: 16px;
}

.ft-16{
  font-size: 16px;
}

.ft-20{
  font-size: 20px;  
}
.pb-2o5{
  padding-bottom: 5%;
}
.pt-2o5{
  padding-top: 5%;
}
.menu ul{
  list-style: none;
  margin: 0;
}
button{
  outline: none;
}
@media only screen and (min-width: 768px) {
  :host /deep/ .ng-sidebar { background-color: #424242 !important;width: 20%;}
}
