<div class="progress p-0 m-0" style="height: 4px;" *ngIf="showProgress">
  <div class="indeterminate"></div>
</div>
<br>
<mat-divider></mat-divider>
<mat-list role="list">
  <mat-list-item role="listitem" fxLayout="row">
    <h6 class="material-font"><a>{{'dashboard' | translate}}</a> <a (click)="goBack()"><i class="im im-angle-right im-10"></i>
        {{'mailServer' | translate}}</a> <a (click)="goBack()"><i class="im im-angle-right im-10"></i> {{'emission' |
        translate}}</a></h6>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<div class="loader" *ngIf="pageLoading">Loading...</div>
<div class="mt-3 ml-2 mr-2" *ngIf="!pageLoading">
  <mat-toolbar class="bg-deep-purple" fxLayout="row">
    <div fxFlex="80" fxLayoutAlign="start center">
      <small fxShow="true" fxHide.gt-sm="true"> <i class="material-icons pr-2">settings</i></small>
      <span fxHide="true" fxShow.gt-sm="true"><i class="material-icons pr-2">settings</i> {{'emissionServerConfig'
        | translate}}</span>
    </div>
    <div fxFlex="20" fxLayoutAlign="end center" *ngIf="showUpdateButton">
      <i class="material-icons" ngbTooltip="{{'update' | translate}}" tooltipClass="my-custom-class" (click)="toggleShowDiv()">create</i>
    </div>
  </mat-toolbar>
</div>
<div class="mt-2 mr-2 ml-2 card-1" *ngIf="!pageLoading">
  <div class="container">
    <div class="row" [@slideInOut]="animationState">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="font-weight-bold t-teal"><i class="im im-server pr-2 im-16"></i>{{'hostname' | translate}}</td>
              <td><small>{{emissionConf.host}}</small></td>
            </tr>
            <tr>
              <td class="font-weight-bold t-teal"><i class="im im-control-panel pr-2 im-16"></i>Port</td>
              <td><small>{{emissionConf.port}}</small></td>
            </tr>
            <tr>
              <td class="font-weight-bold t-teal"><i class="im im-mail pr-2 im-16"></i>E-mail</td>
              <td><small>{{emissionConf.email}}</small></td>
            </tr>
            <tr>
              <td class="font-weight-bold t-teal"><i class="im im-lock pr-2 im-16"></i>{{'password' | translate}}</td>
              <td>
                <span *ngFor="let i of passwordLength;"><small>*</small></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" [@slideInOut]="animationStateReverse">
      <form [formGroup]="emissionForm" (ngSubmit)="updateEmission()" class="w-100">
        <div class="alert alert-danger" role="alert" *ngIf="!testStatus">
          {{'testMailFailed' | translate}}
        </div>
        <div class="row pb-2">
          <div class="col-md-6">
            <mat-form-field class="w-100 pr-4 pl-4">
              <span matPrefix><i class="fa fa-server fa-lg   mr-1 t-pink"> </i></span>
              <input type="text" required name="host" value="{{emissionConf.host}}" formControlName="host" class="font-weight-bold"
                matInput placeholder="{{'hostname' | translate}}" autocomplete="off">
            </mat-form-field>
            <div class="pr-4 pl-4" *ngIf="emissionForm.controls.host.touched && emissionForm.controls.host.errors">
              <small class="t-red d-block" *ngIf="emissionForm.controls.host.errors.required">
                {{'hostnameRequired' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.host.errors.minlength">
                {{'shortHostname' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.host.errors.maxlength">
                {{'longHostname' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100 pr-4 pl-4">
              <span matPrefix><i class="fa fa-certificate fa-lg mr-1 t-pink"> </i></span>
              <input type="text" required name="port" value="{{emissionConf.port}}" formControlName="port" class="font-weight-bold"
                matInput placeholder="Port" autocomplete="off">
            </mat-form-field>
            <div class="pr-4 pl-4" *ngIf="emissionForm.controls.port.touched && emissionForm.controls.port.errors">
              <small class="t-red d-block" *ngIf="emissionForm.controls.port.errors.required">
                {{'portRequired' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.port.errors.minlength">
                {{'shortPort' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.port.errors.maxlength">
                {{'longPort' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.port.errors.pattern">
                {{'invalidPort' | translate}}
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100 pr-4 pl-4">
              <span matPrefix><i class="fa fa-envelope fa-lg mr-1 t-pink"> </i></span>
              <input type="text" required name="email" value="{{emissionConf.email}}" formControlName="email" class="font-weight-bold"
                matInput placeholder="E-mail" autocomplete="off">
            </mat-form-field>
            <div class="pr-4 pl-4" *ngIf="emissionForm.controls.email.touched && emissionForm.controls.email.errors">
              <small class="t-red d-block" *ngIf="emissionForm.controls.email.errors.required">
                {{'emailRequired' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.email.errors.minlength">
                {{'shortEmail' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.email.errors.maxlength">
                {{'longEmail' | translate}}
              </small>
              <small class="t-red d-block" *ngIf="emissionForm.controls.email.errors.pattern">
                {{'invalidEmail' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100 pr-4 pl-4">
              <span matPrefix><i class="fa fa-lock fa-lg mr-1 t-pink"> </i></span>
              <input type="password" required name="password" formControlName="password" class="font-weight-bold"
                matInput placeholder="{{'password' | translate}}" autocomplete="off">
            </mat-form-field>
            <div class="pr-4 pl-4" *ngIf="emissionForm.controls.password.touched && emissionForm.controls.password.errors">
              <small class="t-red  d-block" *ngIf="emissionForm.controls.password.errors.required">
                {{'passwordRequired' | translate}}
              </small>
            </div>
          </div>
        </div>
        <hr>
        <div class="pl-4 pr-4" fxLayout="row" fxHide="true" fxShow.gt-sm="true">
          <div fxFlex fxLayoutAlign="start center">
            <button mat-button class="bg-red font-weight-bold w-50" type="button" (click)="toggleShowDiv()"><i class="material-icons pr-2">cancel_presentation</i>{{'cancel'
              | translate}}</button>
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <button mat-button class="bg-green font-weight-bold w-50"><i class="material-icons pr-2 t-white">update</i><span
                class="t-white">{{'update'
                | translate}}</span></button>
          </div>
        </div>
        <div class="pl-4 pr-4" fxLayout="row" fxShow="true" fxHide.gt-sm="true">
          <div fxFlex fxLayoutAlign="start center">
            <button mat-button class="bg-red font-weight-bold w-50" type="button" (click)="toggleShowDiv()"><i class="material-icons pr-2">cancel_presentation</i></button>
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <button mat-button class="bg-green font-weight-bold w-50"><i class="material-icons pr-2 t-white">update</i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
